@import './components/body';
@import './components/breadcrumbs';

#searcher {
    background-color: $light_grey;
    position: relative;

    @import './components/loading';

    > .top {
        padding: 40px 0 16px 0;
        width: 100%;
        background-color: $white;
        display: flex;
        flex-direction: column;

        > div {
            box-sizing: border-box;
            max-width: $max_width;
            min-width: $max_width;
            margin: auto;
            padding: 0 150px;

            @import './components/search';
            @import './components/filters';
            @import './components/data';
        }
    }
    > .content {
        box-sizing: border-box;
        max-width: $max_width;
        margin: auto;
        padding: 0 150px;
        display: flex;
        flex-direction: column;

        > aside {
            flex-grow: 2;
            margin: 30px 0 0 0;
            display: flex;
            flex-direction: row;

            @import './components/order';
            @import './components/listType';
        }

        @import './components/paginator';
        @import './components/list';
    }

    @include respond-to(desktop) {
        > .top {
            > div {
                $width: $medium-break - 30px;

                max-width: $width;
                min-width: $width;
                padding: 0 15px;
            }
        }

        > .content {
            $width: $medium-break - 30px;
            max-width: $width;
            padding: 0 15px;
        }
    }

    @include respond-to(medium) {
        > .top {
            > div {
                $width: $tablet-break - 30px;

                max-width: $width;
                min-width: $width;
                padding: 0 15px;
            }
        }

        > .content {
            $width: $tablet-break - 30px;
            max-width: $width;
            padding: 0 15px;
        }
    }

    @include respond-to(tablet) {
        > .top {
            > div {
                $width: $mobile-break - 30px;

                max-width: $width;
                min-width: $width;
                padding: 0 15px;
            }
        }

        > .content {
            $width: $mobile-break - 30px;
            max-width: $width;
            padding: 0 15px;
        }
    }

    @include respond-to(mobile) {
        > .top {
            > div {
                max-width: 80%;
                min-width: 80%;
                padding: 0 15px;
            }
        }

        > .content {
            max-width: 500px;
            padding: 0 15px;
        }
    }
}
