#facets {
    padding: 8px 0;
    margin: 16px 16px 16px 0;
    max-width: 240px;
    min-width: 240px;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0), 0 1px 3px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 1px 3px 0 rgba(0, 0, 0, 0.16);
    }

    > .facet {
        font-family: $font;
        font-size: $font-size-default;
        margin-bottom: 15px;

        > h5 {
            padding: 8px 16px;
            margin: 0;
            text-transform: uppercase;
            color: $black_4;
            font-weight: 500;
            font-size: $font-size-big;
            cursor: pointer;
            transition: color 0.3s ease-in-out,
                background-color 0.3s ease-in-out;

            &:hover {
                color: white;
                background-color: $orange;
            }
        }

        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            height: auto;

            &.close {
                overflow: hidden;
                height: 0;
            }

            > li {
                padding: 5px 10px 5px 30px;
                border-bottom: 1px solid $light-grey;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;

                &:first-child {
                    border-top: 1px solid $light-grey;
                }

                &:hover {
                    background-color: $grey;
                }
            }
        }
    }
}
