.filters {
    border-top: 1px solid transparent;
    height: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-family: $font;

    &.open {
        border-top-color: $grey;
        height: auto;
        overflow: visible;
        padding: 20px 0 0 0;
    }

    > .facet {
        max-width: 50%;
        min-width: 50%;
        display: flex;
        align-items: center;
        color: $dark-blue;

        &.slider {
            position: relative;
            z-index: 0;

            > div {
                padding-right: 0;
            }
        }

        > label {
            color: $dark-blue;
            font-size: $font-size-medium-small;
            font-weight: bold;
            text-transform: uppercase;
            padding-left: 10px;
        }

        @import '_filter_slider';

        > div {
            flex-grow: 2;
            align-items: center;
            margin: 5px 16px 5px 8px;
            height: 48px;
            margin-left: auto;
            margin-right: 0;
            border-right: 1px solid $grey;

            &.select {
                display: flex;
                align-items: center;
                padding-right: 10px;
                max-width: 70%;
                min-width: 70%;

                @import 'vue-multiselect/dist/vue-multiselect.min.css';

                .multiselect__tags {
                    border-radius: 0;
                }

                .multiselect__single {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .multiselect__single,
                .multiselect__option {
                    display: flex;
                    .option__title {
                        margin: auto auto auto 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .option__count {
                        margin: 0;
                        font-weight: bold;
                    }
                }

                .multiselect__option--highlight:not(.multiselect__option--selected) {
                    background-color: $orange;

                    &:after {
                        background-color: $orange;
                    }
                }
            }
        }

        &:nth-child(even) {
            > div {
                border-right: 0px;
            }
        }

        @include respond-to(tablet) {
            max-width: 50%;
            min-width: 50%;

            > div {
                &.select {
                    align-items: center;
                    padding-right: 10px;
                    max-width: 60%;
                    min-width: 60%;
                }
            }
        }

        @include respond-to(mobile) {
            max-width: 100%;
            min-width: 100%;

            > div {
                border-right: 0px;

                &.select {
                    align-items: center;
                    padding-right: 10px;
                    max-width: 60%;
                    min-width: 60%;
                }
            }
        }
    }

    &.min {
        > .facet {
            min-width: 200px;
            max-width: 200px;

            > label {
                box-sizing: border-box;
                max-width: 50%;
                min-width: 50%;
                padding-right: 10px;
            }

            &.slider {
                flex-grow: 2;
                min-width: unset;
                max-width: unset;

                > label {
                    max-width: unset;
                    min-width: unset;
                }
            }

            > div {
                margin: unset;
                height: 48px;

                &.select {
                    box-sizing: border-box;
                    max-width: 50%;
                    min-width: 50%;

                    .multiselect__content-wrapper {
                        border-top: 1px solid $grey;
                        width: 400px;
                    }
                }
            }

            &:nth-child(even) {
                > div {
                    border-right: 0px;
                }
            }
        }
    }
}
